@font-face {
    font-family: Niconne;
    src: url('../fonts/Niconne-Regular.ttf') format('truetype')
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-align: center;
    line-height: 1.7em;
    background-color: #F9EADD;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 13px;
    font-family: Georgia, palatino,'book antiqua','palatino linotype', serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgba(0, 0, 0, 0.87);
}

/* Creates the design for the text in the header above the menu.*/
.header {
    font-weight: lighter;
    background-color: #F9EADD;
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
}

.header .header-text h1 {
    color: #301C0D;
    width: 100%;
    font-size: 33px;
}

.header .header-text h2 {
    color: #60391A;
    font-size: 18px;
}

.header .header-text .author {
    color: #998564;
    font-family: Niconne, fantasy;
    font-size: 35px;
}

/* The content menu that goes at the bottom of the header. */
.menu {
    border-top: 2px solid #60391A;
    border-bottom: 2px solid #60391A;
    overflow: hidden;
    background-color: #F9EADD;
    margin: 1em 0em;
}

.menu li {
    display: inline-block;
    padding: 0px 20px;
}
  
.menu a {

    color: #60391A;
    text-decoration: none;
    font-size: 17px;
}
  
.menu a:hover {
    color: #9C3030;
}
  
.menu a.active {
    color: #9C3030;
}

/* The decorative banner that holds the title of the page. */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;    
}


/* The decorative parallax part of the website. */
.parallax {
    /* The image used */
    background-image: url("../images/roman-forum.png");
  
    /* Set a specific height. */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect. */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text {
    background-color: rgba(48, 28, 13, 0.56);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax-text p {
    color: #DDC3AF;
    max-width: 983px;
    text-align: center;
    word-spacing: 0.25em;
    line-height: 1.4;
    font-size: 30px;
    font-weight: bolder;
}

/* The article content and body. */
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content .article {
    text-align: left;
    word-spacing: 0.25em;
    line-height: 1.4;
}

.content p {
    color: #60391A;
    max-width: 492px;
    font-size:18px;
}

.content h1 {
    text-align: center;
    color: #301C0D;
}

.content h2 {
    text-align: center;
    color: #60391A;
    font-size: 18px;
}

.article ul li p {
    font-size: 12px;
    text-align: left;
}